@charset "utf-8";

html, body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

@keyframes voidDissolve {

}

@keyframes voidRender {

}

#renderVoid {
  width: 100%;
  height: 100%;
  touch-action: none;
  animation: voidRender;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}